.buttonGroup {
  display: flex;
  justify-content: flex-end; /* Alinha os botões à direita */
  gap: 6px; /* Espaço entre os botões */
  margin-top: 6px;
  flex-wrap: wrap; /* Evita quebra feia em telas pequenas */
}

.submitButton {
  background-color: #b8860b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b8860b;
}

.cancelButton {
  background-color: #374151;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitButton:hover {
    background-color: #a3780a; 
    color: white;
}

.cancelButton:hover {
    background-color: #2d3748; 
    color: white;
}

.submitButton:disabled,
.submitButton[disabled] {
  background-color: #d1d5db; /* cinza claro */
  border-color: #d1d5db;
  color: #6b7280; /* cinza escuro */
  cursor: not-allowed;
  opacity: 0.7;
}
